<%= stylesheet_link_tag 'paginationIndex' %>

<div class="container-view">
    
    <div class="container-message">
      <p style="color: green"><%= notice %></p> 
    </div>

    <div class="container-tittle">
      <h1>Ambientes</h1>
    </div>
    

    <div class="container-buttons">
    
      <%= link_to "Voltar", "/" %>

      <%= link_to "Novo ambiente", new_ambiente_path %>
    </div>

    <div class="container-lista">

      <div class="box-list">
        <div class="header-list">
            <div>
              <strong>NOME</strong>  
            </div>
            <div>
             <strong>TIPO</strong>     
            </div>
            <div>
              
            </div>

        </div>
        <div class="body-list">
          <% @ambientes.each do |ambiente| %>
            <div class="registro">
              <div>
                <%= ambiente.nome %>
              </div>
              <div>
                <%= ambiente.tipo %>
              </div>
              <div>
                <%= link_to "Visualizar ambiente", ambiente %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>



