<%= link_to "Back to home", "/" %>

<p style="color: green"><%= notice %></p>

<h1>Condominos</h1>

<div id="condominos">
  <% @condominos.each do |condomino| %>
    <%= render condomino %>
    <p>
      <%= link_to "Mostrar esse Condomino", condomino %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Condomino", new_condomino_path %>
