<div id="<%= dom_id item %>">
  <p>
    <strong>Nome:</strong>
    <%= item.nome %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= item.estado %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= item.tipo %>
  </p>

  <p>
    <strong>Data entrada:</strong>
    <%= item.data_entrada %>
  </p>

  <p>
    <strong>Ambiente:</strong>
    <%= item.ambiente.nome %>
  </p>

</div>
