<%= stylesheet_link_tag 'paginationIndex' %>

<div class="container-view">
    
    <div class="container-message">
      <p style="color: green"><%= notice %></p> 
    </div>

    <div class="container-tittle">
      <h1>Itens</h1>
    </div>
    

    <div style="width:110%;" class="container-buttons">
    
      <%= link_to "Voltar", "/" %>

      <%= link_to "Novo item", new_item_path %>
    </div>

    <div style="width:110%;" class="container-lista">

      <div class="box-list">
        <div class="header-list">
            <div>
              <strong>NOME</strong>  
            </div>
            <div>
             <strong>ESTADO</strong>     
            </div>
            <div>
             <strong>TIPO</strong>     
            </div>
            <div>
             <strong>DATA ENTRADA</strong>     
            </div>
            <div>
             <strong>AMBIENTE</strong>     
            </div>
            <div>
              
            </div>

        </div>
        <div class="body-list">
          <% @items.each do |item| %>
            <div class="registro">
              <div>
                <%= item.nome %>
              </div>
              <div>
                <%= item.estado %>
              </div>
              <div>
                <%= item.tipo %>
              </div>
              <div>
                <%= item.data_entrada %>
              </div>
              <div>
                <%= item.ambiente.nome %>
              </div>
              <div>
                <%= link_to "Visualizar item", item %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>





